.polcode_link_head {
	width: 980px;
	padding: 10px;
}

.polcode_link_head table {
	width: 100%;
}

.polcode_link_head textarea {
	width: 90%;
	height: 500px;
	padding: 2px;
}

.polcode_link_head textarea.short{
	height: 200px;
}

.polcode_link_head textarea, .polcode_link_head input[type=text], .polcode_link_head input[type=submit]{
	border: 1px solid #B7B7B7;
}

.polcode_link_head input[type=text]{
	padding: 2px;
	width: 90%;
}

.polcode_link_head input[type=submit] {
	width: 100px;
	padding: 2px;
	display: block;
	margin: 10px auto;
}

.polcode_link_head input[type=submit]:hover {
	background: #000;
	color: #fff;
}

.polcode_link_head table tbody tr:nth-child(2n-1){
	background: #E5E5E5;

}

.polcode_link_head table tr:hover
{
	background: #000 !important;
	color: #fff;
	/* line-height: 25px; */
}

.polcode_link_head  table tr:hover  a{
	color: #fff !important;
}
