# BEGIN W3TC Browser Cache
<IfModule mod_deflate.c>
    <IfModule mod_setenvif.c>
        BrowserMatch ^Mozilla/4 gzip-only-text/html
        BrowserMatch ^Mozilla/4\.0[678] no-gzip
        BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
        BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
    </IfModule>
    <IfModule mod_headers.c>
        Header append Vary User-Agent env=!dont-vary
    </IfModule>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE text/css application/x-javascript text/x-component text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon
    </IfModule>
</IfModule>
<FilesMatch "\.(css|js|htc|CSS|JS|HTC)$">
    FileETag None
    <IfModule mod_headers.c>
         Header set X-Powered-By "W3 Total Cache/0.9.2.4"
    </IfModule>
</FilesMatch>
<FilesMatch "\.(html|htm|rtf|rtx|svg|svgz|txt|xsd|xsl|xml|HTML|HTM|RTF|RTX|SVG|SVGZ|TXT|XSD|XSL|XML)$">
    FileETag None
    <IfModule mod_headers.c>
         Header set X-Powered-By "W3 Total Cache/0.9.2.4"
    </IfModule>
</FilesMatch>
<FilesMatch "\.(asf|asx|wax|wmv|wmx|avi|bmp|class|divx|doc|docx|eot|exe|gif|gz|gzip|ico|jpg|jpeg|jpe|mdb|mid|midi|mov|qt|mp3|m4a|mp4|m4v|mpeg|mpg|mpe|mpp|otf|odb|odc|odf|odg|odp|ods|odt|ogg|pdf|png|pot|pps|ppt|pptx|ra|ram|svg|svgz|swf|tar|tif|tiff|ttf|ttc|wav|wma|wri|xla|xls|xlsx|xlt|xlw|zip|ASF|ASX|WAX|WMV|WMX|AVI|BMP|CLASS|DIVX|DOC|DOCX|EOT|EXE|GIF|GZ|GZIP|ICO|JPG|JPEG|JPE|MDB|MID|MIDI|MOV|QT|MP3|M4A|MP4|M4V|MPEG|MPG|MPE|MPP|OTF|ODB|ODC|ODF|ODG|ODP|ODS|ODT|OGG|PDF|PNG|POT|PPS|PPT|PPTX|RA|RAM|SVG|SVGZ|SWF|TAR|TIF|TIFF|TTF|TTC|WAV|WMA|WRI|XLA|XLS|XLSX|XLT|XLW|ZIP)$">
    FileETag None
    <IfModule mod_headers.c>
         Header set X-Powered-By "W3 Total Cache/0.9.2.4"
    </IfModule>
</FilesMatch>
# END W3TC Browser Cache
# BEGIN W3TC Page Cache core
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^(.*\/)?w3tc_rewrite_test$ $1?w3tc_rewrite_test=1 [L]
    RewriteCond %{HTTP:Accept-Encoding} gzip
    RewriteRule .* - [E=W3TC_ENC:_gzip]
    RewriteCond %{REQUEST_METHOD} !=POST
    RewriteCond %{QUERY_STRING} =""
    RewriteCond %{HTTP_HOST} =simonlypro.nl
    RewriteCond %{REQUEST_URI} \/$ [OR]
    RewriteCond %{REQUEST_URI} (sitemap(_index)?\.xml(\.gz)?|[a-z0-9_\-]+-sitemap([0-9]+)?\.xml(\.gz)?) [NC]
    RewriteCond %{REQUEST_URI} !(\/wp-admin\/|\/xmlrpc.php|\/wp-(app|cron|login|register|mail)\.php|\/feed\/|wp-.*\.php|index\.php) [NC,OR]
    RewriteCond %{REQUEST_URI} (wp-comments-popup\.php|wp-links-opml\.php|wp-locations\.php) [NC]
    RewriteCond %{HTTP_COOKIE} !(comment_author|wp-postpass|wordpress_\[a-f0-9\]\+|wordpress_logged_in) [NC]
    RewriteCond %{HTTP_USER_AGENT} !(W3\ Total\ Cache/0\.9\.2\.4) [NC]
    RewriteCond "%{DOCUMENT_ROOT}/wp-content/w3tc/pgcache/%{REQUEST_URI}/_index%{ENV:W3TC_UA}%{ENV:W3TC_REF}%{ENV:W3TC_SSL}.html%{ENV:W3TC_ENC}" -f
    RewriteRule .* "/wp-content/w3tc/pgcache/%{REQUEST_URI}/_index%{ENV:W3TC_UA}%{ENV:W3TC_REF}%{ENV:W3TC_SSL}.html%{ENV:W3TC_ENC}" [L]
</IfModule>
# END W3TC Page Cache core
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [B,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [B,L]
</IfModule>

# END WordPress



# BEN
Redirect 301 /bekijk/ben-zuinig http://clicks.m4n.nl/_c?_b=1025223&turl=http%3A%2F%2Fant.conversive.nl%2Fin%2F%3Fc_id%3D734%26n_id%3D17%26l_id%3D1747%26a_id%3D1747%26aff_id%3D%3Caffiliate_id%3E%26pu%3Dhttp%3A%2F%2Fwww.ben.nl%2Fabonnementen%2F1
Redirect 301 /bekijk/ben-soms http://clicks.m4n.nl/_c?_b=1025223&turl=http%3A%2F%2Fant.conversive.nl%2Fin%2F%3Fc_id%3D734%26n_id%3D17%26l_id%3D1747%26a_id%3D1747%26aff_id%3D%3Caffiliate_id%3E%26pu%3Dhttp%3A%2F%2Fwww.ben.nl%2Fabonnementen%2F1
Redirect 301 /bekijk/ben-regelmatig http://clicks.m4n.nl/_c?_b=1025223&turl=http%3A%2F%2Fant.conversive.nl%2Fin%2F%3Fc_id%3D734%26n_id%3D17%26l_id%3D1747%26a_id%3D1747%26aff_id%3D%3Caffiliate_id%3E%26pu%3Dhttp%3A%2F%2Fwww.ben.nl%2Fabonnementen%2F1
Redirect 301 /bekijk/ben-vaak http://clicks.m4n.nl/_c?_b=1025223&turl=http%3A%2F%2Fant.conversive.nl%2Fin%2F%3Fc_id%3D734%26n_id%3D17%26l_id%3D1747%26a_id%3D1747%26aff_id%3D%3Caffiliate_id%3E%26pu%3Dhttp%3A%2F%2Fwww.ben.nl%2Fabonnementen%2F1
Redirect 301 /bekijk/ben-zuinig-internet-zuinig http://clicks.m4n.nl/_c?_b=1025223&turl=http%3A%2F%2Fant.conversive.nl%2Fin%2F%3Fc_id%3D734%26n_id%3D17%26l_id%3D1747%26a_id%3D1747%26aff_id%3D%3Caffiliate_id%3E%26pu%3Dhttp%3A%2F%2Fwww.ben.nl%2Fabonnementen%2F1
Redirect 301 /bekijk/ben-soms-internet-soms http://clicks.m4n.nl/_c?_b=1025223&turl=http%3A%2F%2Fant.conversive.nl%2Fin%2F%3Fc_id%3D734%26n_id%3D17%26l_id%3D1747%26a_id%3D1747%26aff_id%3D%3Caffiliate_id%3E%26pu%3Dhttp%3A%2F%2Fwww.ben.nl%2Fabonnementen%2F1
Redirect 301 /bekijk/ben-regelmatig-internet-regelmatig http://clicks.m4n.nl/_c?_b=1025223&turl=http%3A%2F%2Fant.conversive.nl%2Fin%2F%3Fc_id%3D734%26n_id%3D17%26l_id%3D1747%26a_id%3D1747%26aff_id%3D%3Caffiliate_id%3E%26pu%3Dhttp%3A%2F%2Fwww.ben.nl%2Fabonnementen%2F1
Redirect 301 /bekijk/ben-vaak-internet-vaak http://clicks.m4n.nl/_c?_b=1025223&turl=http%3A%2F%2Fant.conversive.nl%2Fin%2F%3Fc_id%3D734%26n_id%3D17%26l_id%3D1747%26a_id%3D1747%26aff_id%3D%3Caffiliate_id%3E%26pu%3Dhttp%3A%2F%2Fwww.ben.nl%2Fabonnementen%2F1

#  Hi
Redirect 301 /bekijk/hi-sms-bel75 http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel150 http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel300 http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel500 http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel1000 http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel75-500mb http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel150-1000mb http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel150-2000mb http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel300-500mb http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel500-2000mb http://ad.zanox.com/ppc/?24243046C1708628165T
Redirect 301 /bekijk/hi-sms-bel500-4000mb http://ad.zanox.com/ppc/?24243046C1708628165T

#  Hollandsnieuwe
Redirect 301 /bekijk/hollandsnieuwe-75 http://ad.zanox.com/ppc/?22378440C64142777&ulp=[[/sim_only]]
Redirect 301 /bekijk/hollandsnieuwe-175 http://ad.zanox.com/ppc/?22378440C64142777&ulp=[[/sim_only]]
Redirect 301 /bekijk/hollandsnieuwe-275 http://ad.zanox.com/ppc/?22378440C64142777&ulp=[[/sim_only]]
Redirect 301 /bekijk/hollandsnieuwe-550 http://ad.zanox.com/ppc/?22378440C64142777&ulp=[[/sim_only]]
Redirect 301 /bekijk/hollandsnieuwe-275-500mb http://ad.zanox.com/ppc/?22378440C64142777&ulp=[[/sim_only]]
Redirect 301 /bekijk/hollandsnieuwe-550-500mb http://ad.zanox.com/ppc/?22378440C64142777&ulp=[[/sim_only]]
Redirect 301 /bekijk/hollandsnieuwe-dealdirect http://clicks.m4n.nl/_c?aid=9672&adid=706652&_df=true&turl=http%3A%2F%2Fwww.dealdirect.nl%2Fshop%2Fmobiele-telefonie%2Fabonnementen%2Fsimonly-275-web-data-sms.html

#  KPN
Redirect 301 /bekijk/kpn-sim-only-bel-sms-100 http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-bel-sms250 http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-bel-sms-600 http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-bel-sms-onbeperkt http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-belsms100-1000MB http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-belsms100-2500MB http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-belsms250-250MB http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-belsms250-1000MB http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-belsms250-2500MB http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-belsms600-1000MB http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-belsms600-2500MB http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-onbeperkt-1000MB http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23
Redirect 301 /bekijk/kpn-sim-only-onbeperkt-2500MB http://clicks.m4n.nl/_c?_b=1025227&turl=http%3A%2F%2Fad-emea.doubleclick.net%2Fclk%3B238048515%3B50067033%3Bz%3Fhttp%3A%2F%2Fwww.kpn.com%2Fmobiel%2Fsimonly_abonnement.cat%23

#  Simpel
Redirect 301 /bekijk/simpel-100min http://clicks.m4n.nl/_c?zid=1029631 
Redirect 301 /bekijk/simpel-100min-100sms-50mb http://clicks.m4n.nl/_c?zid=1029631 
Redirect 301 /bekijk/simpel-200min-100sms http://clicks.m4n.nl/_c?zid=1029631 
Redirect 301 /bekijk/simpel-300min-50mb http://clicks.m4n.nl/_c?zid=1029631 
Redirect 301 /bekijk/simpel-400min-200sms http://clicks.m4n.nl/_c?zid=1029631 
Redirect 301 /bekijk/simpel-400min-300sms-500mb http://clicks.m4n.nl/_c?zid=1029631 
Redirect 301 /bekijk/simpel-800min http://clicks.m4n.nl/_c?zid=1029631 
Redirect 301 /bekijk/simpel-800min-100sms-500mb http://clicks.m4n.nl/_c?zid=1029631 
Redirect 301 /bekijk/simpel-800min-300sms-1000mb  http://clicks.m4n.nl/_c?zid=1029631 
Redirect 301 /bekijk/simpel-800min-1000mb  http://clicks.m4n.nl/_c?zid=1029631 

#  Simyo
Redirect 301 /bekijk/simyo-maand100 http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-maand200 http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-maand300 http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-maand500 http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-maand700 http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen

Redirect 301 /bekijk/simyo-100-200mb http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-200-500mb http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-300-500mb http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-500-500mb http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-500-1000mb http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-500-1500mb http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-700-1000mb http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen
Redirect 301 /bekijk/simyo-700-1500mb http://clicks.m4n.nl/_c?_b=1025229&turl=http%3A%2F%2Fwww.simyo.nl%2Fsim-only%2Fbestellen

#  T-Mobile
Redirect 301 /bekijk/t-mobile-smart-start-sim-only-70 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Start-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24rs4sb2%26icmp%3DABT_SO_start_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-start-sim-only-110 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Start-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24rs4sb2%26icmp%3DABT_SO_start_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-start-sim-only-220 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Start-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24rs4sb2%26icmp%3DABT_SO_start_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-start-sim-only-330 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Start-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24rs4sb2%26icmp%3DABT_SO_start_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-start-sim-only-440 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Start-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24rs4sb2%26icmp%3DABT_SO_start_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-start-sim-only-550 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Start-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24rs4sb2%26icmp%3DABT_SO_start_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-plus-sim-only-50 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24pr4ss2%26icmp%3DABT_SO_plus_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-plus-sim-only-150 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24pr4ss2%26icmp%3DABT_SO_plus_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-plus-sim-only-250 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24pr4ss2%26icmp%3DABT_SO_plus_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-plus-sim-only-450 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24pr4ss2%26icmp%3DABT_SO_plus_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-plus-sim-only-600 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24pr4ss2%26icmp%3DABT_SO_plus_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-ismart-sim-only-150 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24ipss32%26icmp%3DABT_SO_ismart_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-ismart-sim-only-300 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24ipss32%26icmp%3DABT_SO_ismart_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-ismart-sim-only-500 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24ipss32%26icmp%3DABT_SO_ismart_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-ismart-sim-only-750 http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24ipss32%26icmp%3DABT_SO_ismart_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-seconds-50-sim-only http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24ipss32%26icmp%3DABT_SO_ismart_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N
Redirect 301 /bekijk/t-mobile-smart-seconds-200-sim-only http://clicks.m4n.nl/_c?_b=1076465&turl=http%3A%2F%2Fgsm.t-mobile.nl%2Ftmobile%2FRAPRD%2FSmart-Plus-SimOnly%2Fsttmsost.html%3Fxart_id%3Dat24ipss32%26icmp%3DABT_SO_ismart_infoB%26ecmp%3Dmobiel_AFF_zanoxM4N

#  Telfort
Redirect 301 /bekijk/telfort-sim-only-alleen-bellen-150 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F%3Fbundels%3D413%2C430%2C440
Redirect 301 /bekijk/telfort-sim-only-alleen-bellen-300 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F%3Fbundels%3D413%2C430%2C440
Redirect 301 /bekijk/telfort-sim-only-alleen-bellen-500 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F%3Fbundels%3D413%2C430%2C440
Redirect 301 /bekijk/telfort-sim-only-alleen-bellen-1000 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F%3Fbundels%3D413%2C430%2C440
Redirect 301 /bekijk/telfort-sim-only-bellen-en-smsen-150-100 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F%3Fbundels%3D413%2C430%2C440
Redirect 301 /bekijk/telfort-sim-only-bellen-en-smsen-300-100 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Faanbiedingen%2FSim_only_superkoopjes.html
Redirect 301 /bekijk/telfort-sim-only-bellen-en-smsen-500-100 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F
Redirect 301 /bekijk/telfort-sim-only-bellen-en-smsen-1000-100 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F
Redirect 301 /bekijk/telfort-sim-only-bellen-en-smsen-150-500 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F
Redirect 301 /bekijk/telfort-sim-only-bellen-en-smsen-300-500 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F
Redirect 301 /bekijk/telfort-sim-only-bellen-en-smsen-500-500 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F
Redirect 301 /bekijk/telfort-sim-only-bellen-en-smsen-1000-500 http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fmobiel-internet%2Finternet-op-je-mobiel%2Fsamenstellen%2Fsim-only%2F
Redirect 301 /bekijk/telfort-sim-only-smartphone-gebruiker http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fmobiel-internet%2Finternet-op-je-mobiel%2Fsamenstellen%2Fsim-only%2F
Redirect 301 /bekijk/telfort-sim-only-bovengemiddelde-gebruiker http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fmobiel-internet%2Finternet-op-je-mobiel%2Fsamenstellen%2Fsim-only%2F
Redirect 301 /bekijk/telfort-sim-only-bovengemiddelde-gebruiker http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F
Redirect 301 /bekijk/telfort-sim-only-bel-sms-internet-regelmatig  http://clicks.m4n.nl/_c?_b=1025231&turl=http%3A%2F%2Fshop.telfort.nl%2Fsim-only%2Fsamenstellen%2F


#  Vodafone
Redirect 301 /bekijk/vodafone-belsmsweb100 http://ds1.nl/c/?wi=170138&si=427&li=25319&ws=&dl=mobiel_bellen%2Fabonnementen%2Fsim_only_abonnement%2F
Redirect 301 /bekijk/vodafone-belsmsweb200 http://ds1.nl/c/?wi=170138&si=427&li=25319&ws=&dl=mobiel_bellen%2Fabonnementen%2Fsim_only_abonnement%2F
Redirect 301 /bekijk/red-essential-simonly http://ds1.nl/c/?wi=170138&si=427&li=25319&ws=&dl=mobiel_bellen%2Fabonnementen%2Fsim_only_abonnement%2F
Redirect 301 /bekijk/red-simonly http://ds1.nl/c/?wi=170138&si=427&li=25319&ws=&dl=mobiel_bellen%2Fabonnementen%2Fsim_only_abonnement%2F
Redirect 301 /bekijk/red-supersimonly http://ds1.nl/c/?wi=170138&si=427&li=25319&ws=&dl=mobiel_bellen%2Fabonnementen%2Fsim_only_abonnement%2F

#  Youfone
Redirect 301 /bekijk/youfone-simonly-50  http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-250 http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-450 http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-750 http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-50-200MB http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-250-200MB http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-450-500MB http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-450-1000MB http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-750-500MB http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-750-1000MB http://ad.zanox.com/ppc/?24117233C1338349031T
Redirect 301 /bekijk/youfone-simonly-1500 http://ad.zanox.com/ppc/?24117233C1338349031T

# Tele2
Redirect 301 /bekijk/tele2-sim-only-bel-sms-100 http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-200 http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-300 http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-500 http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-700 http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-200-500mb http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-300-500mb http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-300-1000mb http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-500-1000mb http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-500-1500mb http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 
Redirect 301 /bekijk/tele2-sim-only-bel-sms-500-2500mb http://clicks.m4n.nl/_c?_b=1057020&turl=http%3A%2F%2Fwww.tele2.nl%2Fmobiel%2Fabonnement%2Fsim-only-abonnement.html 